/*CABEÇALHO*/

a {
    color: var(--branco);
    text-decoration: none;
}

.cabecalho{
    background-color: var(--azul-escuro);

    display: flex;
    /* flex-direction */
    justify-content: space-between;
    align-items: center;
    padding:0 120px;

    height: 10vh;
}

.navegacao{
    display: flex;
    align-items: center;

    gap: 50px;
    
}

.navegacao a {
    text-transform: uppercase;

    font-size: 1em;

    font-weight: 800;
}

.banner-principal{
    color: var(--branco);

    height: 70vh;
    background-image: url(../imgs/banner-principal-home.png);
    background-size:cover;
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0 120px;
}

.texto-banner{
    height: 100%;

    display: flex;
    flex-direction: column;

    align-items: flex-start;
    justify-content: center;
    gap: 50px;
}

.texto-banner p{

    font-size: 1.5em;
    width: 60%;
}

.botao{
    padding: 20px 50px;

    border-radius: 10px;

    background-color: var(--cor-destaque);
    color: var(--azul-escuro);

    font-size: 1.2em;
    font-weight: 700;

    text-transform: uppercase;
}

.botao:hover {
    background-color: #2ab2ab;
}

.banner-principal img{
    align-self: flex-end;
    width: 35%;
}

/*   TITULO SECAO   */

.titulo-secao {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.titulo-secao h2{
    font-size: 1.5em;
    margin-bottom: 20px;
}
.titulo-secao span{
    display: flex;
    width: 250px;
    height: 4px;
    background-color: var(--cor-destaque);
}

/*   ECAO BENEFICIOS   */

.beneficios {
    padding: 50px 120px;

    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: space-between;

    gap: 100px;
}

.beneficios-lista {
    display: grid;

    grid-template-columns: repeat(3, 20%);
    gap: 10%;
    justify-content: center;
}

.beneficio {
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;

    padding: 80px 20px 50px; /* em cima -> direita e esquerda -> embaixo*/

    border: 1px solid var(--azul-escuro);
    border-radius: 30px;
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.25); /* x -> y -> blur(desfoque) -> cor com transparência */


    text-align: center;

    /* Cria referência de posicionamento para o icone, for posicionado, usa esse car como referência */
    /* sem isso, o círculo poderia usar outro elemento da página como referência e sair passeando pelo layout. */
    position: relative;
}

.beneficio-icone img {
    width: 50%;
}

.beneficio-icone {
    border: 4px solid var(--cor-destaque);
    background-color: var(--branco);

    border-radius: 50%;

    width: 30%;
    height: 30%;

    /* Retira o ícone do fluxo normal, com o absolute ele pode ficar por cima do card */
    position: absolute;

    /* Move o elemento pra cima, o valor negativo faz ele sair parcialmente do card */
    top: -15%;

    /* Coloca o começo elemento em 50% da largura do card */
    left: 50%;

    /* ajustamos o posicionamento do elemento, mas a borda esquerda do círculo fica no centro, não o círculo inteiro */
    transform: translateX(-50%);

    /* place-items; é a mesma coisa que colocar: alingn-items: center; e justify-items: center; */
    display: grid;
    place-items: center;
}

.beneficio h3{
    font-size: 1.2em;
    margin-bottom: 30px;
    text-transform: uppercase;
    width: 90%;
}


.beneficio p{
    font-size: 1em;
    width: 80%;
}

/*BANNER MEIO*/

.banner-meio {
    height: 60vh;
    background-image: url(../imgs/Banner\ centro.svg);
    background-size: cover;
    display: flex;
    justify-content: flex-end;
    padding: 0 120px;
    color: var(--branco);
}

/*SECAO LIVROS REOMENDADOS*/

.acervo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    gap: 100px;
    padding: 50px 120px;
}

.livros {
    display: grid;
    grid-template-columns: repeat(4, auto);
    justify-content: center;
    gap: 5%;
}

.livro {
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: space-between;
    gap: 20px;

    text-align: center;
}

.livro img {
    height: 300px;
}

.livro h3 {
    text-transform: uppercase;
    font-size: 1em;
    width: 65%;
}

.livro-texto {
    font-size: 0.8em;
}
/*RODAPE */

footer{
    background-color: var(--azul-escuro);
    color: var(--branco);
    padding: 100px 120px 30px;
}

.main {
    display: flex;
    justify-content: space-between;
}

.rodape-logos {
    display: flex;
    flex-direction: column;
    gap: 130px;
}

.rodape-informacoes {
    display: grid;
    grid-template-columns: 1fr auto;
    justify-content: space-between;
    align-items: flex-start;
    gap: 100px;
}

.nav-footer  {
    display: flex;
    flex-direction: column;
}

.nav-footer p {
    color: var(--cor-destaque);
    margin-bottom: 20px;

}
.nav-footer a {
    color: var(--branco);
    margin-bottom: 10px;
}

.icones {
    display: flex;
    gap: 20px;
}

footer span {
    display: flex;
    margin: 50px 0;
    background-color: white;
    height: 1px;
    width: 100%;
}

.footer-inferior {
    display: flex;
    justify-content: space-between;
}

.footer {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.rodape-informacoes p {
    color: var(--cor-destaque);
    font-size: 1em;
    font-weight: 700;
    width: 100%;
}

.footer-inferior {
    display: flex;
}

/*RESPONSIVIDADE*/
.botao-menu{
    display: none;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.botao-menu{
    font-size: 2em;

    color: var(--branco);
    border-radius: 10px;

}

/*Resposnvidade com tamanhos - MEDIA QUERY */

@media(max-width: 1024px) {

    html{
        font-size: 12px;

    }

    .cabecalho img{
        width: 60%;
    }

    .texto-banner h1{
        text-align: center;

    }
    .beneficios {
        gap: 50px;
        padding: 30px 0;

        overflow: hidden;
    }

    .beneficios-lista{
        grid-template-columns: repeat(3, 30%);

        overflow-x: scroll;

        padding: 50px 20px;

        justify-content: flex-start;
    }

    .beneficios-lista::-webkit-scrollbar{
        display: none;
    } 

    .beneficio{
        padding: 80px 10px 50px;
    }

    .beneficio h3{
        margin-bottom: 25px;

        width: 60%;

    }
    .beneficio p{
        width: 60%;
    }

    /*   BANNER MEIO*/

    .banner-meio{
        background-position: center;
        padding: 0 30px;

        
    }
    .banner-meio .texto-banner{
        align-items: flex-end;

        
    }
    .banner-meio .texto-banner p{
        align-items: right;        
    }

    /*   ACERVO  */

    .acervo{
        padding: 70px 40px;
        gap: 50px;
    }

    .livros{
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
        gap: 40px;

    }

   .livro img {
        max-width: 100%;
    }

    .livro h3 {
        font-size: 1.2em;
    }

    .livro-texto {
        font-size: 1em;
    }


}

@media(max-width: 768px){
    .cabecalho{
        padding: 0 40px;
        position: relative;
    }

    .botao-menu{
        display: flex;
    }

    .navegacao{
        background-color: var(--azul-escuro);

        position: absolute;
        top: 10vh;
        left: 0;
        width: 100%;
        height: auto;

        padding: 40px;
        border-radius: 0 0 0 30px;

        flex-direction: column;
        align-items: flex-end;

        gap: 20px;

        z-index: 100;

        display: none;
    }

    .navegacao.ativo{
        display: flex;
    }

    /*BANNER PRINCIPAL*/

    .banner-principal{
        height: 50vh;
        padding: 30px 0 10px 0;
        position: relative;
    }

    .banner-principal .texto-banner{
        width: 100%;
        height: 100%;

        align-items: center;
        justify-content: space-between;
    }
    .banner-principal .texto-banner h1{
        font-size: 2em;
    }
    .banner-principal .texto-banner p{
        display: none;
    }

    .banner-principal img{
        width: 35%;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);

        z-index: 1;
    }

    .banner-principal .botao{
        padding: 20px 40px;

        font-size: 1.2em;

        z-index: 2;
    }

/*Beneficios*/

    
    .beneficios-lista{
        grid-template-columns: repeat(3, 45%);
    }
    .beneficios-icone img{
        width: 40%;
    }
    
    /*BANNER MEIO*/
    .banner-meio .texto-banner{
        display: none;
    }


    
    /*FOOTER*/
     .main{
       grid-template-columns: repeat(3, 30%);
       justify-content: center;
       flex-direction: column;
      
       gap: 30px;
   
        
    }
    .rodape-informacoes{
        height: 0%;
        align-items: center;
       }
    .rodape-logos{
        align-items: center ;
        flex-direction: row;
    }

    .footer-inferior{
        flex-direction: row;
        justify-content: space-between;
    }
    .footer-inferior .footer{
        flex-direction: column;
        
    }

    .rodape-informacoes p{
        font-size: 1.5em;
    }
    .rodape-informacoes a{
        font-size: 1.5em;
    }

    .footer-inferior p{
        font-size: 1.2em;
    }
    .footer{
        
        font-size: 1.2em;
    }
}


