/*CABEÇALHO*/

a {
    color: var(--branco);
    text-decoration: none;
}

.cabecalho{
    background-color: var(--azul-escuro);

    display: flex;
    /* flex-direction */
    justify-content: space-between;
    align-items: center;
    padding:0 120px;

    height: 10vh;
}

.navegacao{
    display: flex;
    align-items: center;

    gap: 50px;
    
}

.navegacao a {
    text-transform: uppercase;

    font-size: 1em;

    font-weight: 800;
}

.banner-principal{
    color: var(--branco);

    height: 70vh;
    background-image: url(../imgs/banner-principal-home.png);
    background-size:cover;
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0 120px;
}

.texto-banner{
    height: 100%;

    display: flex;
    flex-direction: column;

    align-items: flex-start;
    justify-content: center;
    gap: 50px;
}

.texto-banner p{

    font-size: 1.5em;
    width: 60%;
}

.botao{
    padding: 20px 50px;

    border-radius: 10px;

    background-color: var(--cor-destaque);
    color: var(--azul-escuro);

    font-size: 1.2em;
    font-weight: 700;

    text-transform: uppercase;
}

.botao:hover {
    background-color: #2ab2ab;
}

.banner-principal img{
    align-self: flex-end;
    width: 35%;
}

/*   TITULO SECAO   */

.titulo-secao {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.titulo-secao h2{
    font-size: 1.5em;
    margin-bottom: 20px;
}
.titulo-secao span{
    display: flex;
    width: 250px;
    height: 4px;
    background-color: var(--cor-destaque);
}

/*   ECAO BENEFICIOS   */

.beneficios {
    padding: 50px 120px;

    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: space-between;

    gap: 100px;
}

.beneficios-lista {
    display: grid;

    grid-template-columns: repeat(3, 20%);
    gap: 10%;
    justify-content: center;
}

.beneficio {
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;

    padding: 80px 20px 50px; /* em cima -> direita e esquerda -> embaixo*/

    border: 1px solid var(--azul-escuro);
    border-radius: 30px;
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.25); /* x -> y -> blur(desfoque) -> cor com transparência */


    text-align: center;

    /* Cria referência de posicionamento para o icone, for posicionado, usa esse car como referência */
    /* sem isso, o círculo poderia usar outro elemento da página como referência e sair passeando pelo layout. */
    position: relative;
}

.beneficio-icone img {
    width: 50%;
}

.beneficio-icone {
    border: 4px solid var(--cor-destaque);
    background-color: var(--branco);

    border-radius: 50%;

    width: 30%;
    height: 30%;

    /* Retira o ícone do fluxo normal, com o absolute ele pode ficar por cima do card */
    position: absolute;

    /* Move o elemento pra cima, o valor negativo faz ele sair parcialmente do card */
    top: -15%;

    /* Coloca o começo elemento em 50% da largura do card */
    left: 50%;

    /* ajustamos o posicionamento do elemento, mas a borda esquerda do círculo fica no centro, não o círculo inteiro */
    transform: translateX(-50%);

    /* place-items; é a mesma coisa que colocar: alingn-items: center; e justify-items: center; */
    display: grid;
    place-items: center;
}

.beneficio h3{
    font-size: 1.2em;
    margin-bottom: 30px;
    text-transform: uppercase;
    width: 90%;
}


.beneficio p{
    font-size: 1em;
    width: 80%;
}

/*BANNER MEIO*/

.banner-meio {
    height: 60vh;
    background-image: url(../imgs/Banner\ centro.svg);
    background-size: cover;
    display: flex;
    justify-content: flex-end;
    padding: 0 120px;
    color: var(--branco);
}

/*SECAO LIVROS REOMENDADOS*/

.livros-recomendados{
    margin: 50px;
   display: flex;
   flex-direction: column;
   gap: 70px;
   margin-bottom: 100px;
}

.livros{

    display: flex;
    gap: 50px;
    justify-content: center;
    

}

.livro img{
  
    width: 100%;
    height: 400px;
     
}


.livros h3{
   text-align: center;
   text-transform: uppercase;
   margin: 20px 0px;
   width: 60%;
   height: 90%;
}

.livro{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*RODAPE */

.rodape{
    background-color: var(--azul-escuro);
    height: 447px;
    color: var(--branco);
    display: flex;
    justify-content: space-between;
    padding:0 120px;
    padding-right: 350px;
    
    
}
.conteudo-inicial{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 100px;

}

.logo-footer{
    height: 69px;
    width: 180px;

}


.conteudo{
    display: flex;
    flex-direction: row;
    margin: 10px;
    justify-content: space-between;

}

.informacoes h3{
    color: var(--cor-destaque);
}
.informacoes h4{
    color: var(--branco);
}












