
.area-busca{
    display: flex;
    align-items: center;
    gap: 20px;

    margin-bottom: 30px;
}

.campo-busca{
    
    flex: 1;
    height: 50px;
    padding: 0 20px;

    border: 1px solid #cccccc;
    border-radius: 10px;
    background-color: var(--branco);

    display: flex;
    align-items: center;
    gap: 20px;

}
.campo-busca i{
    font-size: 20px;
    color: var(--azul-escuro);

}
.campo-busca input{
    flex: 1;

    border: none;
    outline: none;

    font-family: inherit;

    font-size: 1.1em;
    color: var(--texto-pagina);
}

.botao-filtro{
    height: 50px;
    width: 15%;

    padding: 0 20px;

    border: 1px solid #cccccc;
    border-radius: 10px;

    background-color: var(--branco);

    display: flex;
    align-items: center;
    justify-content: center;

    gap: 20px;

    color: var(--texto-pagina);

    font-size: 1em;
    font-weight: 600;

    cursor: pointer;
    transition: 0.2s;
}

.botao-filtro i{
    font-size: 20px;
    color: var(--texto-pagina);
}

.botao-filtro:hover{
    transform: translateY(-2px);

    box-shadow: 0 5px 12px rgba(0, 0, 0, 0.12);
}

.cabecalho-lista{
    display: flex;
    gap: 50px;
}

/* CABEÇALHO DA TELA */

.cabecalho-lista {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr 1fr;

    align-items: center;

    padding: 0 20px 20px;

    font-weight: 700;
}

/* alinhando o nome a esquerda */
.cabecalho-lista h2:nth-child(1) {
    text-align: left;
}

/* Alinhando o restante ao centro */
.cabecalho-lista h2 {
    text-align: center;
    font-size: 1em;
}

/* LISTA DE LIVROS */

.lista-livros {
    display: flex;
    flex-direction: column;

    gap: 20px;
}

.reserva {
    display: grid;

    grid-template-columns: 2fr 1fr 1fr 1fr 1fr;

    align-items: center;
    justify-items: center;

    height: 60px;

    padding: 0 30px;

    border: 1px solid var(--cor-bordas);

    border-radius: 10px;
    font-size: 1em;
}

.reserva p:nth-child(1){
    justify-content: flex-start;
}

input[type="checkbox"]{
    margin-left: 60px;
    height: 30px;
    width: 30px;

    border: 1px solid var(--texto-pagina);
    border-radius: 5px;

    appearance: none;
    cursor: pointer;
}

input[type="checkbox"]:checked{
    background-color: var(--cor-destaque);
    border: none;
}

input[type="checkbox"]:checked::after{
    content: "✓";

    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;

    color: var(--branco);
    font-size: 20px;
    font-weight: 800;
}

 .rodape-listagem{
    margin-top: 30px;

    padding-top: 10px;

    border-top: 1px solid var(--cor-bordas);

    display: grid;
    align-items: center;

    grid-template-columns: 1fr auto;
 }
 .quantidade-livros{
    font-size: 0.8em;
    color: var(--texto-pagina);
    font-weight: 600;
 }

 .paginacao{
    display: flex;
    align-items: center;
    gap: 20px;
 }

 .botao-pagina{
    border: none;
    background-color: transparent;
    color: var(--texto-pagina);
    font-size: 15px;

    cursor: pointer;
 }

 .pagina-atual{
    display: flex;
    align-items: center;
    justify-content: center;

    width: 30px;
    height: 30px;

    border-radius: 10px;

    background-color: var(--azul-escuro);
    color: var(--branco);

    font-size: 0.8em;
    font-weight: 700;
 }



.nome-livro{
 
  margin-right: auto;

}
.usuario{
 
  margin-right: 70px;

}
.data-reserva{
 
  margin-right: 30px;

}
 .retirada{
    color: #D34A00;
 }
 #retirado{
    color: #00A223;
 }

