@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --azul-escuro: #26333d;
    --texto: #26333d;
    --branco: #ffffff;
    --cor-destaque: #3fd6cb;
    --fundos:#e9f0ef;
    --texto-pagina: #535353;
    
}
html{
    scroll-behavior: smooth;
}

body {
      font-family: "Montserrat", sans-serif;
      background-color: var(--branco);
      color: var(--texto);
}

a {
    color: var(--branco);
    text-decoration: none;
}
.cabecalho{
    background-color: var(--azul-escuro);

    display: flex;
    /* flex-direction */
    justify-content: space-between;
    align-items: center;
    padding:0 120px;

    height: 10vh;
}

.navegacao{
    display: flex;
    align-items: center;

    gap: 50px;
    
}
.navegacao a {
    text-transform: uppercase;

    font-size: 1em;

    font-weight: 800;
}

